html {
      font-size: 10px;
    }
    
    @media only screen and (max-width:400px) {
      html {
        font-size: 9.444444444444444px;
      }
    
    } 

  
    
    body {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: normal;
      line-height: 1.8333;
      color: rgba(0, 0, 0, 0.8);
      margin: 0;
      padding: 0;
    }
    
    
    a {
      color: #8BC34A;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      text-decoration: none !important;
    }

    a:hover {
      color: #8BC34A;
    }

    
    ::placeholder{
    color:#BCBCBC;
   }

     
   .banner-image{
    height: auto;
    max-height:85vh;
    min-width: 100%;
   }

   
    .p-6{
          padding-top: 5%;
          padding-bottom: 5%;
    }

    .p-7{
      padding-top: 10%;
      padding-left: 10%; 
   }
    
   @media only screen and (min-width:990px) {
    .p-7 {
      padding-top:8%;
      padding-left:2%;
    } 
  
  } 
    
      
    .mt-6{
      margin-top:50px;
    }
    
    
    .mt-7{
      margin-top:100px;
    }
   
    .mt-8{
      margin-top:150px;
    }

    /* ------------------------------------------------------------------- 
     * ## MENÜ
     * ------------------------------------------------------------------- */

    .header__overlay-close {
      position: absolute;
      display: block;
      width: 45px;
      height: 45px;
      top: 21px;
      left: 50%;
      right: auto;
      margin-left: -23px;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      
    }
    
    .header__overlay-close::before, .header__overlay-close::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 2px;
      height: 20px;
      top: 12px;
      left: 22px;
      background-color: #000000;
    }
    
    .header__overlay-close::before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
    .header__overlay-close::after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    
    /* ===================================================================
     * # header
     *
     * ------------------------------------------------------------------- */
    .s-header {
      background-color: #FFFFFF;
      text-align: center;
      height: 78px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    /* -------------------------------------------------------------------
     * ## header logo
     * ------------------------------------------------------------------- */
    .header__logo {
      display: inline-block;
      margin: 3px 0 0 0;
      padding: 0;
      z-index: 501;
      position: absolute;
      top: 50%;
      left: 40px;
      font-size: 40px;
      
    }
    
    .header__logo > h4{
      font-size:12px !important;
      margin-top:-50px;
      margin-left:60px;
    }

    .header__logo a {
      display: block;
      outline: 0;
      border: none;
      margin: 0;
      padding: 0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      -webkit-transform: translate3d(0, -50%, 0);
      -ms-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
  
    .header__logo a:hover{
      color: #8BC34A;
    }
    
  
    
    /* -------------------------------------------------------------------
     * ## header search trigger
     * ------------------------------------------------------------------- */
    .header__search-trigger {
      height: 18px;
      min-width: 18px;
      background-image: url(../images/icons/icon-search.svg);
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;
      -webkit-transform: translate3d(0, -50%, 0);
      -ms-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
      position: absolute;
      top: 50%;
      right: 50px;
    }
    
    .header__search-trigger::before {
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 18px;
      content: "Search";
      display: block;
      color: #000000;
      float: left;
      padding-right: 33px;
    }
     
 
    
    /* ------------------------------------------------------------------- 
     * ## header-search
     * ------------------------------------------------------------------- */
    .header__search {
      display: block;
      text-align: center;
      background-color: #FFFFFF;
      opacity: 0;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      z-index: 900;
    }
    
    .header__search-form {
      width: 100%;
      -webkit-transform: translate3d(0, -50%, 0);
      -ms-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
      position: absolute;
      top: 50%;
    }
    
    .header__search-form label {
      color: #000000;
    }
    
    .header__search-form::after {
      content: "Press Enter to begin your search.";
      display: block;
      letter-spacing: 0.6px;
      font-size: 1.6rem;
      margin-top: 3rem;
      text-align: center;
      color: rgba(0, 0, 0, 0.5);
    }
    
    .header__search-form input[type="search"] {
      background-color: transparent;
      color: #000000;
      height: auto;
      width: 100%;
      font-weight: 700;
      font-size: 6rem;
      line-height: 1.5;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
      max-width: 680px;
      padding-top: .6rem !important;
      padding-bottom: .6rem !important;
      margin: 0 auto;
      text-align: center;
    }
    
    .header__search-form input[type="search"]::-webkit-input-placeholder {
    
      /* WebKit, Blink, Edge */
      color: #000000;
    }
    
    .header__search-form input[type="search"]:-moz-placeholder {
    
      /* Mozilla Firefox 4 to 18 */
      color: #000000;
      opacity: 1;
    }
    
    .header__search-form input[type="search"]::-moz-placeholder {
    
      /* Mozilla Firefox 19+ */
      color: #000000;
      opacity: 1;
    }
    
    .header__search-form input[type="search"]:-ms-input-placeholder {
    
      /* Internet Explorer 10-11 */
      color: #000000;
    }
    
    .header__search-form input[type="search"]::-ms-input-placeholder {
    
      /* Microsoft Edge */
      color: #000000;
    }
    
    .header__search-form input[type="search"]::placeholder {
    
      /* Most modern browsers support this now. */
      color: #000000;
    }
    
    .header__search-form input[type="search"].placeholder {
      color: #000000 !important;
    }
    
    .header__search-form input[type="search"]:focus {
      outline: none;
    }
    
    .header__search-form input[type="submit"] {
      display: none;
    }
    
    body.search-is-visible {
      overflow: hidden;
    }
    
    .search-is-visible .header__search {
      opacity: 1;
      visibility: visible;
    }
    
    /* ------------------------------------------------------------------- 
     * ## header-toggle
     * ------------------------------------------------------------------- */
    .header__toggle-menu {
      display: none;
      width: 40px;
      height: 40px;
      -webkit-transform: translate3d(0, -50%, 0);
      -ms-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
      position: absolute;
      top: 70%;
      left: 20px;
    }
    
    .header__toggle-menu span {
      display: block;
      width: 22px;
      height: 2px;
      margin-top: -1px;
      background-color: #000000;
      -webkit-transition: background 0.2s ease-in-out;
      transition: background 0.2s ease-in-out;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      position: absolute;
      right: 9px;
      top: 50%;
      bottom: auto;
      left: auto;
    }
    
    .header__toggle-menu span::before,
    .header__toggle-menu span::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: inherit;
      position: absolute;
      left: 0;
    }
    
    .header__toggle-menu span::before {
      top: -8px;
    }
    
    .header__toggle-menu span::after {
      bottom: -8px;
    }
    
    /* -------------------------------------------------------------------
     * ## main navigation
     * ------------------------------------------------------------------- */
    .header__nav-wrap {
      display: inline-block;
    }
    
    .header__nav-wrap a {
      color: rgba(0, 0, 0, 0.6);
    }
    
    .header__nav-wrap .header__nav-heading {
      font-weight: 800;
      font-size: 1.5rem;
      line-height: 1.2;
      color: #8BC34A;
      text-transform: uppercase;
      letter-spacing: .3rem;
      margin-top: 8.4rem;
      text-align: center;
    }
    
    .header__nav-wrap .header__nav-heading,
    .header__nav-wrap .close-mobile-menu {
      display: none;
    }
    
    .header__nav {
      list-style: none;
      margin: 0;
      padding: 0;
      font-weight: 600;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 78px;
    }
    
    .header__nav li {
      display: inline-block;
      position: relative;
      padding: 0 1.5rem;
    }
    
    .header__nav li.has-children {
      padding-right: 3.3rem;
    }
    
    .header__nav li a {
      display: block;
      color: rgba(0, 0, 0, 0.6);
      font-weight: bold;
      -webkit-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out;
    }
    
    .header__nav li.has-children > a::after {
     /* border-bottom: 1px solid rgba(0, 0, 0, 0.5);*/
      border-right: 1px solid rgba(0, 0, 0, 0.5);
      content: '';
      display: block;
      height: 5px;
      width: 5px;
      margin-top: -3px;
      pointer-events: none;
      position: absolute;
      right: 1.8rem;
      top: 50%;
      -webkit-transform-origin: 66% 66%;
      -ms-transform-origin: 66% 66%;
      transform-origin: 66% 66%;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    
    .header__nav li:hover li,
    .header__nav li:focus li {
      background: transparent;
    }
    
    .header__nav li:hover > a,
    .header__nav li:focus > a {
      color: #000000;
      color: #8BC34A;
    }
    
    .header__nav li ul {
      position: absolute;
      top: 100%;
      left: 0;
      font-size: 15px;
      font-weight: 400;
      margin: 0;
      padding: 1.8rem 0;
      background: #151515;
      border-radius: 0 0 3px 3px;
      z-index: 500;
      -webkit-transform: translate3d(0, 15px, 0);
      -ms-transform: translate3d(0, 15px, 0);
      transform: translate3d(0, 15px, 0);
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }
    
    .header__nav li ul ul {
      position: absolute;
      top: 0;
      left: 100%;
      left: calc(100% + 1px);
      border-radius: 0 0 3px 3px;
      padding-top: 1.2rem;
    }
    
    .header__nav li ul li {
      display: block;
      text-align: left;
      padding: 0;
      margin: 0;
      min-height: 33px;
      width: 100%;
    }
    
    .header__nav li ul li a {
      display: block;
      white-space: nowrap;
      padding: 7.5px 3rem 7.5px 2rem;
      text-transform: none;
      letter-spacing: 0;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.6);
    }
    
    .header__nav li ul li a:hover,
    .header__nav li ul li a:focus {
      color: #FFFFFF;
    }
    
    .header__nav li:hover > ul {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    
    /* ------------------------------------------------------------------- 
     * responsive:
     * header
     * ------------------------------------------------------------------- */
    @media only screen and (max-width:1200px) {
      .header__logo {
        left: 30px;
      }
    
      .header__logo img {
        width: 150px;
        height: 23px;
      }
    
      .header__search-trigger {
        right: 30px;
      }
    
      .header__nav {
        font-size: 11px;
      }
    
      .header__nav > li {
        padding: 0 1rem;
      }
    
      .header__nav > li.has-children {
        padding-right: 2.3rem;
      }
    
      .header__nav > li.has-children > a::after {
        right: 1.2rem;
      }
    
    }
    
    @media only screen and (max-width:1000px) {
      .header__logo {
        left: 20px;
      }
    
      .header__search-trigger {
        right: 20px;
      }
    
    }
    
    @media only screen and (max-width:900px) {
      .header__logo {
        left: 50%;
        -webkit-transform: translate3d(-50%, 0, 0);
        -ms-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
      }
    
      .header__logo img {
        width: 200px;
        height: 29px;
      }
    
      .header__search-trigger {
        right: 30px;
      }
    
      .header__search-trigger::before {
        display: none;
      }
    
      .header__search-form::after {
        font-size: 1.5rem;
      }
    
      .header__search-form input[type="search"] {
        max-width: none;
        width: 75%;
        font-size: 4.2rem;
      }
    
      .header__toggle-menu {
        display: block;
      }
    
      .header__nav-wrap {
        background-color: #FFFFFF;
        margin: 0;
        border: none;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 600;
      }
    
      .header__nav-wrap .header__nav-heading, 
      .header__nav-wrap .close-mobile-menu {
        display: block;
      }
    
      .header__nav {
        margin: 6rem 7rem 3rem 7rem;
        font-weight: 400;
        font-size: 18px;
        text-transform: none;
        letter-spacing: 0;
       /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
      }
    
  
    
      .header__nav > li a {
        line-height: 60px;
        color: #000000;
      }
    
      .header__nav li {
        display: block;
        padding: 0;
        text-align: left;
      }
    
      .header__nav li ul {
        display: none;
        position: static;
        background-color: transparent;
        padding: 0 0 1.8rem 0;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
        visibility: visible;
        -webkit-transition: none !important;
        transition: none !important;
      }
    
      .header__nav li.has-children > a::after {
        top: 27px;
        /*border-bottom: 1px solid #000000;*/
        border-right: 1px solid #000000;
      }
    
      .header__nav li.has-children > a.sub-menu-is-open::after {
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
      }
    
      .header__nav li:hover > a, .header__nav li:focus > a {
        color: #8BC34A;
      }
    
      .header__nav li.current > a {
        color: #8BC34A;
        font-weight: 700;
      }
    
      .header__nav li ul li a {
        padding: 7.5px 1.5rem 7.5px 1.5rem;
        color: black;
      }
    
      .header__nav li ul li a:hover, .header__nav li ul li a:focus {
        color: #8BC34A;
      }
    
      body.nav-wrap-is-visible {
        overflow: hidden;
      }
    
      .nav-wrap-is-visible .header__nav-wrap {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        opacity: 1;
        visibility: visible;
      }
    
    }
    
    @media only screen and (max-width:800px) {
      .header__nav {
        margin: 6rem 6rem 1rem 2rem;
      }
    
    }
    
    @media only screen and (max-width:600px) {
      .header__logo img {
        width: 160px;
        height: 23px;
      }
    
      .header__search-form input[type="search"] {
        font-size: 3.4rem;
      }
    
      .header__nav {
        font-size: 17px;
      }
    
    }
    
    @media only screen and (max-width:400px) {
      
      
      .header__logo img {
        width: 140px;
        height: 21px;
      }
    
      .header__search-form input[type="search"] {
        font-size: 2.6rem;
      }
    
      .header__nav {
        margin: 6rem 4.2rem 3rem 4.2rem;
      }
      
    }

  
    
    /* ------------------------------------------------------------------- 
     * ## MENÜ END
     * ------------------------------------------------------------------- */
     





     /* ------------------------------------------------------------------- 
     * ## SLİDER
     * ------------------------------------------------------------------- */
     .carousel-inner {
      margin-top: 100px;
     }
        
     .carousel-item {
      height: 75vh;
      min-height: 350px;
      background: no-repeat center center scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    }

    
    /* ------------------------------------------------------------------- 
     * ## SLİDER END
     * ------------------------------------------------------------------- */
      
     






     /* ------------------------------------------------------------------- 
     * ## POST
     * ------------------------------------------------------------------- */
     
     .post-title{
       color:black;
       font-weight:700;
       font-size: 35px;
     }

     .post-title:hover{
      color: #8BC34A;
      font-weight:700;
      font-size: 35px;
    } 
    
    .author-date{
      color: #8BC34A;
    }
  
.readMore {
  display: inline-block;
  
}

.readMore a{
  text-decoration: none;
  color: #8BC34A;
}

.readMore a:hover{
  text-decoration: none;
  color: #8BC34A;
}

.readMore::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #8BC34A;
  transition: width .3s;
}

.readMore:hover::after {
  width: 100%;
  color: #8BC34A;
}


    .show-buton{
      width:200px ;
      height: 50px;
      border: 1px solid #8BC34A;
      border-radius: 0px;
      color: #8BC34A;
      font-size: 18px;
    }

    .show-buton:hover{
      border: 1px solid #8BC34A;
      background-color:#8BC34A ;  
      color: white;
    }

    
     /* ------------------------------------------------------------------- 
     * ## POST END
     * ------------------------------------------------------------------- */


     
     /* ------------------------------------------------------------------- 
     * ## INSTAGRAM POST
     * ------------------------------------------------------------------- */

    .instagramButon{
      width:300px ;
      height: 50px;
      font-size: 15px;
      box-shadow: 0px 3px 6px rgb(216, 216, 216);
     }

     .instagramButon a{
      color: black;
     }

     .instagramButon a:hover{
      color: #8BC34A;
     }
     
          /*  INSTAGRAM */

          .instagram-kutu {
            position: relative;
            width: 100%;
            max-width: 400px;
          }
          
          .image {
            display: block;
            width: 100%;
            height: auto;
          }
          
          .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .3s ease;
            background-color: white;
          }
          
          .overlay:hover {
            opacity: 0.8;
          }
          .instagram-kutu:hover {
            opacity: 1;
          }
          
          .icon {
            color: black;
            font-size: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
          }
          
          .overlay a{
            color:black;
          }
      
          .overlay a:hover{
            color:black;
          }
      
              /*  INSTAGRAM END */
  
     /* ------------------------------------------------------------------- 
     * ## INSTAGRAM POST END
     * ------------------------------------------------------------------- */




/* ------------------------------------------------------------------- 
     * ## SUBSCRİBE
     * ------------------------------------------------------------------- */


    .sub-form{
      width: 500px;
      height: 50px;
      padding: 12px 20px;
      display: inline-block;
      border: 0px;
    } 

    .subscribeButon{
      width:200px ;
      height: 50px;
       background-color: #8BC34A;
       border:1px solid #8BC34A;
       border-radius: 0px;
       color: white;
       font-size: 18px;
    }

    .subscribeButon:hover{
       background-color: white;
       color:#8BC34A;
    }

    .subscribeBg{
      background-color: #F6F6F6;
    }

    /* ------------------------------------------------------------------- 
     * ## SUBSCRİBE END
     * ------------------------------------------------------------------- */
 


    /* ------------------------------------------------------------------- 
     * ## FOOTER
     * ------------------------------------------------------------------- */

    .icons a{
      color:black;
    }

    .icons a:hover{
      color:#8BC34A;
    }
    

    .footerLogo{
      font-size: 40px;
    }

    
    /* ------------------------------------------------------------------- 
     * ## FOOTER END
     * ------------------------------------------------------------------- */

   
/* ------------------------------------------------------------------- 
     * ## POST DETAİL PAGE
     * ------------------------------------------------------------------- */


    .post-detail-image{
      width: 70%;
      height: auto;
    }
   

   .comment-color{
    color:#BCBCBC;
   }

   .reply-buton{
     color:black;
     font-size: 16px;
     border:2px solid black;
     border-radius:50px;
     width: 80px;
   }

   .reply-buton:hover{
    color:white;
    background-color: black;
  }
    



  /* ------------------------------------------------------------------- 
     * ## POST DETAİL PAGE END
     * ------------------------------------------------------------------- */

     







     /* ------------------------------------------------------------------- 
     * ## ABOUT ME PAGE
     * ------------------------------------------------------------------- */

     .about-me{
          font-size: 70px;
          font-weight: bold;
     }


     .about-me-text{
          font-size: 30px;
          padding: 5px;
          color:white;
          background-color: #8BC34A;
     }

     
     @media only screen and (max-width:990px) {
      .about-me-text {
          text-align: center;
      } 
      
      .about-me{
        text-align: center;
       }
    } 

      /* ------------------------------------------------------------------- 
     *   ## ABOUT ME PAGE END
     * ------------------------------------------------------------------- */



    /* ------------------------------------------------------------------- 
     * ## FORM
     * ------------------------------------------------------------------- */

     .form-style{
      width: 100%;
    height: 50px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #BCBCBC;
    }
   
    .form-buton{
      width:100%;
      height: 50px;
       background-color: black;
       border:1px solid black;
       border-radius: 0px;
       color: white;
       font-size: 18px;
    }
  
    .form-buton:hover{
       background-color: white; 
       color:black; 
    }
    
    .area{
      width: 100%;
        height: 200px;
        padding: 12px 20px;
    }




     /* ------------------------------------------------------------------- 
     * ## FORM END
     * ------------------------------------------------------------------- */






